<template>
    <div class="col-12">
        <div id="button-section" class="hidden" style="position: relative;">
            <div id="button-inline">
                <button id="run-button" class="bt icon-button"><i class="fas fa-play"></i></button>
                <label class="switch">
                    <input type="checkbox" id="csv-check">
                    <span></span>
                </label>
                <label>Save in CSV</label>
            </div>
        </div>
        <table id="mainTable" class="stripe hover" cellspacing="0" width="100%">
                        
        </table>
    </div>
</template>
