<template>
    <div class="col-12">
        <h2 class="mb-15"><span id="exchangeId"></span></h2>
    </div>

    <div class="col-5">
        <div class=panel>
            <div class="panel-header bg-lightgrey"><h3>Settings</h3></div>
            <div class="panel-body">
                <div class="form-div">
                    <div class="form-field">
                        <label>API Key</label>
                        <input type="text" id="apiKey">
                    </div>
                    <div class="form-field">
                        <label>Secret Key</label>
                        <input type="text" id="secret">
                    </div>
                    <div class="form-field">
                        <label>Transaction Fee (%)</label>
                        <input type="text" id="transactionFee">
                    </div>
                </div> 
            </div>
        </div>
        <button id="save-exchange-button" class="table-button">Save</button>
    </div>
    <div class="col-4">
        <div class=panel>
            <div class="panel-header bg-lightgrey">
                <h3>Withdraw Fees</h3>
                <label id="bt-withdraw-fee" class="float-right">
                    <i class="fa fa-plus-circle"></i>
                </label>
            </div>
            <div class="panel-body no-padding">
                    <table class="panel-table" id="withdraw-fees-table">
                        <thead>
                            <tr>
                                <th>Coin</th>
                                <th>Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-3">
        <div class="panel bg-lightgrey" id="exchange-balance">
            <div class="panel-header no-border">
                <h3>Balance <span><i id="balance-spinner" class="fa fa-spinner fa-spin"></i></span></h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</template>